wcf/WCFExample/Part3HelloWindowsClient/Connected Services/Part3HelloService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://DNS.com/Employee" elementFormDefault="qualified" targetNamespace="http://DNS.com/Employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Part10Employee" />
  <xs:element name="EmployeeRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="EmployeeInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Part10Employee" minOccurs="0" name="Type" type="q1:EmployeeType" />
        <xs:element minOccurs="0" name="AnnualSalary" type="xs:double" />
        <xs:element minOccurs="0" name="HourlySalary" type="xs:double" />
        <xs:element minOccurs="0" name="HourlyWorked" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>